.form {
	width: 100%;
	margin-bottom: 20px;
}

.form label {
	font-size: 17px;
}

.input_control {
	display: flex;
}

.input_control input {
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid #ffff;
	padding: 0 0 5px 20px;
}
.send_comment {
	border-bottom: 2px solid #ffff !important;
	padding-bottom: 10px;
	cursor: pointer;
	border-radius: 0 !important;
}

.send_comment:hover {
	border-bottom: green;
}
