.like_circel {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #2a2a2b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.videoInfo__description {
	color: #989898;
}
